<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html"; charset="utf-8">
        <title>
            WELCOME!
        </title>
    </head>
    <body>
        {{.}}
    </body>
</html>